:root {
  font-size: 16px;
  color: white;
}

body {
  margin: 0;
  background-image: url("../assets/wallpaper.jpg");
  background-size: cover;
  background-position: center;
}

button {
  cursor: pointer;
}
