.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.game-title {
  font-size: 6.5rem;
}

.disc-color {
  font-size: 3rem;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disc-color__button {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}
.disc-color__button--selected {
  background-color: yellow;
}
.disc-color__button__image {
  display: block;
}

.submit-button {
  padding: 10px 20px;
  font-size: 2.5rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #29bbce;
  color: #fff;
}

.submit-button:hover {
  background-color: rgb(2, 116, 116);
}
