.game-page-popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 1;
}
.game-page-popup--show {
  display: block;
}

.game-page-popup-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888888;
  border-radius: 8px;
  margin: 0px auto;
  width: 40%;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.game-page-popup--score-title {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.game-page-popup--score-result {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  margin-bottom: 15px;
}
.game-page-popup-content button {
  display: block;
  margin: 20px auto 0px;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
}
.game-page-popup-content .game-page-popup--end-button {
  display: inline-block;
  margin: 20px 10px 0px;
}

.game-page-popup-content button:hover {
  background-color: #45a049;
}

.game-page-popup-content .game-page-popup--end-button--route {
  background-color: #ee8e21;
  margin-left: 10px;
}

.game-page-popup-content .game-page-popup--end-button--route:hover {
  background-color: #ec8510;
}
