.popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}
.popup-content {
  background-color: white;
  margin: 15% auto 0px;
  padding: 20px;
  border: 1px solid #888888;
  width: 30%;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}
.popup-content button {
  display: block;
  margin: 20px auto 0px;
  font-size: 1rem;
}
.popup--show {
  display: block;
}
.popup--score {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.popup-content button.popup-button {
  display: inline-block;
  margin: 20px 10px 0px;
}
